tel/venv

**/__pycache__/

**/venv

game/target

.vscode

.idea

Report.aux
Report.bbl
Report.log
Report.out
Report.synctex.gz
Report.pdf

.env**
report/*.aux
report/*bcf
report/*log
report/*.out
report/*.pdf
report/*.xml
report/*.gz
report/*toc

**.env
.env**
**.env**
